<div class="color-container space">
  <div class="searching-container">
    <img src="../../../assets/img/linkedin.png" alt="" width="60" />

    <input type="text" placeholder="Buscar" class="searching-input" />
  </div>

  <div class="icons-menu">
    <div class="img-item">
      <img
        src="../../../assets/img/home-icon.png"
        alt=""
        width="30"
        class="color-image"
      />
      <p class="gray-text icon-tittle">Inicio</p>
    </div>
    <div class="img-item">
      <img
        src="../../../assets/img/group.png"
        alt=""
        width="30"
        class="color-image"
      />
      <p class="gray-text icon-tittle">Mi red</p>
    </div>
    <div class="img-item">
      <img
        src="../../../assets/img/briefcase.png"
        alt=""
        width="30"
        class="color-image"
      />
      <p class="gray-text icon-tittle">Empleos</p>
    </div>
    <div class="img-item">
      <img
        src="../../../assets/img/chat.png"
        alt=""
        width="30"
        class="color-image"
      />
      <p class="gray-text icon-tittle">Mensajes</p>
    </div>
    <div class="img-item">
      <img
        src="../../../assets/img/bell.png"
        alt=""
        width="30"
        class="color-image"
      />
      <p class="gray-text icon-tittle">Notificaciones</p>
    </div>
    <div class="img-item borde">
        <img
          src="../../../assets/img/user-icon.png"
          alt=""
          width="30"
          
        />
        <p class="gray-text icon-tittle">Yo</p>
      </div>

      <div class="img-item">
        <img
          src="../../../assets/img/menu.png"
          alt=""
          width="30"
          class="color-image"
        />
        <p class="gray-text icon-tittle">Productos</p>
      </div>

      <div class="img-item">
        <img
          src="../../../assets/img/right-arrow.png"
          alt=""
          width="30"
          class="color-image"
        />
        <p class="gray-text icon-tittle">Publicidad</p>
      </div>
  </div>


</div>
