<div class="color-container sesion-container">
  <div class="identity-container">
    <div class="user-portada"></div>
    
    <a href="" >
      <div>
        <img width="64" src="../../../assets/img/user-icon.png" alt="User image" class="user-img">
      </div>
      <div class="user-text name">Nicolas Rojas Nino</div>
    </a>
    <p class="gray-text">CEO en Imagine Apps</p>
  </div>

  <div class="perfil borde-container">
    <ul class="list-container">
      <li>
        <a href="" class="list-item">
          <div class="gray-text little-text text-item">Quien ha visto tu perfil</div>
          <div><span class="gray-text little-num num">1325</span></div>
        </a>
      </li>
      <li>
        <a href=""  class="list-item">
          <div class="gray-text little-text text-item">Visualizaciones de tu publicación</div>
          <div><span class="gray-text little-num num">973</span></div>
        </a>
      </li>
    </ul>
  </div>

  <a href="
  " class="list-container">
    <h3 class="little-text">Accede a información y herramientas exclusivas</h3>
    <span class="little-text">Volver a probar premium gratis</span>
  </a>

  <div class="borde-container marcador-container">
    <img src="../../../assets/img/marcapaginas.png" alt="Marcador" class="marcador">
    <a href="">Marcapáginas</a>
  </div>
 
</div>
