.title-pages {
  font-size: 17px;
  text-align: left;
  padding: 20px 20px 0;
}

.item-container {
  display: flex;
}

.container-text {
  .title-item {
    font-size: 14px;
  }

  .notification-item {
    font-size: 12px;
  }
}

.recomendaciones {
    font-size: 13px;
    padding-left: 40px;
    padding-bottom: 14px;
}
