<div class="color-container sesion-container">
    <h2 class="title-pages">Los cursos mas vistos hoy</h2>

    <ol  start="1">
        <li>
            <div class="item-container">
                <div class="container-text">
                  <h3 class="title-item">Cómo aumentar la resilencia</h3>
                  <p class="notification-item gray-text">Tatiana Kolovok</p>
                </div>
              </div>
        </li>
        <li>
            <div class="item-container">
                <div class="container-text">
                  <h3 class="title-item">Aprende a usar linkedind learning</h3>
                  <p class="notification-item gray-text">Tatiana Kolovok</p>
                </div>
              </div>
        </li>
        <li>
            <div class="item-container">
                <div class="container-text">
                  <h3 class="title-item">Trabajo en equipo</h3>
                  <p class="notification-item gray-text">Tatiana Kolovok</p>
                </div>
              </div>
        </li>
    </ol>

    <div class="gray-text recomendaciones">Ver más linkedin learning</div>
</div>