<div class="color-container sesion-container">
  <h2 class="title-pages">Mis páginas (2)</h2>

  <ul class="pages-container">
    <li>
      <div>
        <div class="item-container">
          <img
            src="../../../assets/img/logo-imagine.jpg"
            alt=""
            class=""
            width="60"
            height="60px"
          />
          <div class="container-text">
            <h3 class="title-item">Imagines Apps</h3>
            <p class="notification-item gray-text">Notificaciones de la...<span class="num-notification">6</span></p>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div>
        <div class="item-container">
          <img
            src="../../../assets/img/logo-imagine.jpg"
            alt=""
            class=""
            width="60"
            height="60px"
          />
          <div class="container-text">
            <h3 class="title-item">Imagines Desarrollo</h3>
            <p class="notification-item gray-text">Notificaciones de la...<span class="num-notification">0</span></p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
