.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  .left {
    width: 225px;
    
  }
  .middle {
    width: 483px;
  }

  .right {
    width: 300px;
  }
}

@media (max-width: 767px) {
  
  .left {
    width: auto !important;
  }
}
