<div class="color-container sesion-container feed-container">
  <h2 class="title-pages">Añadir tu feed</h2>

  <div class="list-feed">
    <div class="item-container">
      <img
        src="../../../assets/img/logo-imagine.jpg"
        alt=""
        class=""
        width="60"
        height="60px"
      />
      <div class="container-text">
        <h3 class="title-item">Edna Gonzalez</h3>
        <p class="notification-item gray-text">Directora en Energia hoy</p>
        <button class="follow">+ Seguir</button>
      </div>
    </div>
    <div class="item-container">
      <img
        src="../../../assets/img/logo-imagine.jpg"
        alt=""
        class=""
        width="60"
        height="60px"
      />
      <div class="container-text">
        <h3 class="title-item">Edna Gonzalez</h3>
        <p class="notification-item gray-text">Directora en Energia hoy</p>
        <button class="follow">+ Seguir</button>
      </div>
    </div>
    <div class="item-container">
      <img
        src="../../../assets/img/logo-imagine.jpg"
        alt=""
        class=""
        width="60"
        height="60px"
      />
      <div class="container-text">
        <h3 class="title-item">Edna Gonzalez</h3>
        <p class="notification-item gray-text">Directora en Energia hoy</p>
        <button class="follow">+ Seguir</button>
      </div>
    </div>
  </div>

<div class="gray-text recomendaciones">Ver todas las recomendaciones</div>
</div>
