<div class="color-container sesion-container">
  <h2 class="recent-title little-text">Recientes</h2>

  <ul>
    <li>
      <a href="" class="item">
        <img src="../../../assets/img/hashtag.png" alt="" class="icon"/>
        <span class="little-text gray-text"> Negocios </span>
      </a>
    </li>
    <li>
        <a href="" class="item">
          <img src="../../../assets/img/hashtag.png" alt="" class="icon"/>
          <span class="little-text gray-text"> Negocios </span>
        </a>
      </li>
      <li>
        <a href="" class="item">
          <img src="../../../assets/img/hashtag.png" alt="" class="icon"/>
          <span class="little-text gray-text"> Negocios </span>
        </a>
      </li>
  </ul>

  <h2 class="recent-title little-text">Grupos</h2>

  <ul>
    <li>
      <a href="" class="item">
        <img src="../../../assets/img/hashtag.png" alt="" class="icon"/>
        <span class="little-text gray-text"> Negocios </span>
      </a>
    </li>
    <li>
        <a href="" class="item">
          <img src="../../../assets/img/hashtag.png" alt="" class="icon"/>
          <span class="little-text gray-text"> Negocios </span>
        </a>
      </li>
      <li>
        <a href="" class="item">
          <img src="../../../assets/img/hashtag.png" alt="" class="icon"/>
          <span class="little-text gray-text"> Negocios </span>
        </a>
      </li>
  </ul>

  <div class="borde-container ver gray-text">
    <a href="">Ver más</a>
  </div>
</div>
