/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    width: 100%;
    background-color: #F3F2EF;
    font-family: 'Open Sans', sans-serif;
}

.color-container{
    background: #fff;
}

ul {
    list-style: none;
}


.gray-text {
    color: rgba(0,0,0,.6);
}

.little-text {
    font-size: 12px;
  }

.sesion-container{border-radius: 11px;}